
@{
    ViewBag.Title = "Error404";
    Layout = null;
}

<link href="~/Content/css/Error404.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="p-4">
    <a class="btn btn-outline-secondary" href="/Admin/Home/Index">Back to home</a>
</div>
<div id="main">
    <div class="fof">
        <h1>Error 404</h1>
    </div>
</div>