
@{
    ViewBag.Title = "Error";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h3 style="color:red">Sorry, we ran into errors, please try again! </h3>

    <div class="mt-4 mb-4 w-100 h4 d-flex justify-content-center ">
        @ViewBag.ExceptionMessage
    </div>
</body>
</html>
