
@{
    ViewBag.Title = "UserInactive";
    Layout = null;
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="p-3">
    <h1 class="mt-4" style="color:red">Account inactive. </h1>
    <h4 class="mt-3">Please contact customer support to activate it. </h4>

    <a class="mt-3 btn btn-outline-danger" href="/Account/Login">Go to Login page</a>
</div>